.dialog-container {
    max-width: 500px;  // Adjust the width as necessary
    margin: 0 auto;
  }
  
  .dialog-content {
    max-height: 300px;  // Adjust the height as necessary
    overflow-y: auto;
    padding: 15px;
   
  }
  