.banner {
  
     
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../../../assets/images/story.jpg);
    background-size: cover;
   
    
    color: antiquewhite;
}

 



#homeTitle {
    background-color: rgba(1, 1, 1, 0.6);
    padding: 20px;
    border-radius: 20px;
   font-family: cursive;
   color:whitesmoke
    

}