<div class=" min-h-[93vh]">
    <div class=" w-full h-full flex justify-center items-center  min-h-[82vh]">
        <div class="p-6 m-4" id="homeTitle">
            <div class="text-center" style="max-width: 500px; font-size: 25px;">
                <p class="font-extrabold text-2xl">Tale Weaver</p>

                <p class="p-4 text-center font-bold text-lg text-pretty">"Explore Infinite Worlds through Words:
                    TaleWeaver, Your
                    Gateway to
                    Imagination"</p>
                <div> <button mat-fab extended color="primary" [routerLink]="'/auth'" class=" hover:bg-white
                        hover:text-black ">
                        Get Started</button></div>
            </div>
        </div>
    </div>

    <div class=" flex justify-center bg-black bg-opacity-25 text-pretty">

        <app-footer></app-footer>

    </div>
</div>